.navbar_container {
    height: 60px;
    width: 100%;
    position: fixed !important;
    top: 0;
    z-index: 2;
    color:#ffc107 ;
    font-weight: 700;
    overflow: hidden;
    background-color: white;
 
}
.button{
    background-color: #ffc107;
    outline: unset;
    border: unset;
    height: 40px;
    color: white;
    font-weight: 700;
}
.input{
    
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

@media (min-width: 1025px) and (max-width: 2000px){
  .desktop_login_container{
    max-width: 800px;
  
   
  }
  .desktop_sidebanner{
    width: 50%;
    background-image: url('http://localhost/icons/Fether.jpeg');
    height: 100%;
    object-fit: contain;
    border-radius: 10px 0px 0px 10px;
    
  }
  .desktop_login_wrapper{
    width: 80%;
    padding: 20px;
  }
  .wrapper{
    background-color: white;
   border-radius: 10px;
  }
}
@media (max-width: 480px) {
  .desktop_sidebanner{
    display: none;
  }
  .desktop_login_wrapper{
    width: 90%;
    padding: unset;
  }
  .wrapper{
    background-color: unset;
    padding: 5px;
  }
}