<app-navbar></app-navbar>
<div class="position-relative" style="top: 80px; height: 80%;"> 
<router-outlet></router-outlet>
</div>
<div *ngIf="AddTaskIsActive" class="position-fixed d-flex justify-content-center align-items-center" (click)="AddTask()" style="bottom: 60px; right: 30px; height: 50px; width: 50px; background-color:#ffc107; border-radius: 50%;">
<span>+</span>
</div>
<lib-popup (Close)="ClosePopup($event,'calendar')" [Switch]="IsCalendar" [Height]="'500px'" [Width]="'300px'" [OpacityColor]="'rgba(0,0,0,0.2)'">

    <mat-calendar [(selected)]="selected" (selectedChange)="Selecteddate($event)"></mat-calendar>
  
</lib-popup>
<lib-popup (Close)="ClosePopup($event,'task')" [CustomStyle]="AddTaskstyle" [OpacityColor]="'rgba(0,0,0,0.2)'" [Switch]="Switch">
 <form [formGroup]="TaskForm" class="p-2 h-100">
  <div class="row d-flex">
    <h4 class="col-3 m-0 d-flex">
     <b> Date:</b><input type="text" value="{{selected|date:'d MMMM y'}}" style="font-weight: 700; border: unset;" >
     </h4>
  </div>
  <hr>
  <textarea formControlName="Task" style="width: 100%; height: 60%; padding: 5px;" placeholder="Please Enter Task Here"></textarea>
  <button  class="w-100 p-2 button" (click)="SubmitTask()">Add Task</button>
</form>
</lib-popup>
<lib-drawer [Switch]="MessageSwitch" [Direction]="'top'" [Height]="10" [Top]="'0px'" [Width]="100" [Background]="'white'">
  <div class="row d-flex justify-content-center align-items-center w-100 h-100"> 
    <span class="text-center" style="font-weight: 600; color: green;" *ngIf="Code == 200;else error">{{Message}}</span>
    <ng-template #error class="row d-flex justify-content-center align-items-center w-100 h-100">
    <span style="color: red; text-align: center; font-weight: 600;">{{Message}}</span>
    </ng-template>
  </div>
</lib-drawer>

