
<div class="navbar_container" >
    <div style="max-width: 1600px; margin: auto; height: 60px;">
        <div class="row px-1 p-0 m-0 align-items-center w-100 h-100">
            <div class="col-2 h-100 d-flex align-items-center p-0">
                <img src="http://localhost/icons/Left-navigation-black.svg" alt="" style="height: 25px;">
            </div>
            <div class="col-8 position-relative p-0 h-100 d-flex justify-content-center align-items-center">
                <span style="position: absolute;">TODOs</span>
            </div>
            <div class="col-2 d-flex justify-content-start h-100">
            </div>
         
        </div>
    </div>
</div>
<div class=" desktop_registration_container d-flex justify-content-center align-items-center h-100 w-100">
    <div class="wrapper d-flex justify-content-center align-items-center">

        <div class="desktop_registration">
            <div class="row m-0 d-flex justify-content-center">
                <span class="text-center" style="color:#ffc107; font-weight: 700;">Registration</span>
            </div>
            <div class="row m-0 mt-3">
                <form [formGroup]="RegisterForm" style="width: 100%;padding: unset;">
                <input formControlName="Email" type="text" class="mt-3 w-100 input" placeholder="Email">
                <span *ngIf="ValidatorObj.Email" class="mx-1" style="font-size: 12px; color: red;">This Field is Required</span>
                <input formControlName="Name" type="text" class="mt-3 w-100 input" placeholder="Name">
                <span *ngIf="ValidatorObj.Name" class="mx-1" style="font-size: 12px; color: red;">This Field is Required</span>
                <input formControlName="Contact" type="text" class="mt-3 w-100 input" placeholder="Contact">
                <span *ngIf="ValidatorObj.Contact" class="mx-1" style="font-size: 12px; color: red;">This Field is Required</span>
                <input formControlName="Password" type="text" class="mt-3 w-100 input" placeholder="Password">
                <span *ngIf="ValidatorObj.Password" class="mx-1" style="font-size: 12px; color: red;">This Field is Required</span>
                <input formControlName="Confirmpassword" type="text" class="mt-3 w-100 input" placeholder="Confirm Password">
                <span *ngIf="ValidatorObj.Confirmpassword" class="mx-1" style="font-size: 12px; color: red;">Password and Confirm Password not matched</span>
                </form>
                <button class="mt-3 button" (click)="SubmitRegistrationForm()">Register</button>
                <span class="text-center mt-5">Already have an account <u (click)="Route()">Click</u></span>
    
            </div>
        </div>
    </div>
   
    
</div>
